<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyConfig" type="auth.Config,  auth" />
  </configSections>
  <MyConfig NAS_IDENTIFIER="OpenVpn">
    <servers>
      <server name="radius1.example" authport="1812" wait="1" retries="3" sharedsecret="secret1" />
      <server name="radius2.example" authport="1812" wait="1" retries="2" sharedsecret="secret2" />
    </servers>
  </MyConfig>
</configuration>